{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRO-PAR</title>
    <meta name="description" content="コインパーキング料金を自動計算してくれるツールです。">
    <link rel="stylesheet" href="{% static '/css/reset.css' %}" type="text/css"  media="screen"/>
    <link rel="stylesheet" href="{% static '/css/default.css' %}" type="text/css"  media="screen"/>
    
    {% block additional_css %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66672017-8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-66672017-8');
    </script>
</head>

<body>
    <header class="header txt_center">
        <div class="container">
            <a  class="title" href="{% url 'calculations:top' %}"><h1>PRO-PAR</h1></a>
        </div>
    </header>

    {% block content %}{% endblock %}
    
    <footer class="footer txt_center">
        <div class="container">
            <p class="copyright">&copy;2021 PRO-PAR</p>
            <p>presented by はりまや橋ゲストハウス</p>
        </div>
    </footer>
</body>
</html>