@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

html {
    font-size: 15px;
    color:#333;
    font-family: 'M PLUS 1p', sans-serif;
    background:#E3EEFA;
}
.container {
    min-width:320px;
    max-width: 500px;
    margin:0 auto;
}
/* aタグの訪問済みの色をクリアする */
a:visited{
    color: inherit;
}

li {
    list-style: none;
}

.txt_center {
    text-align: center;
}

/* ヘッダーの共通設定 */
.header {
    margin: 15px 0px;
}
.title {
    text-decoration: none;
    font-size: 1.6rem;
}

/* スマホ特有の装飾をクリアする */
input {
    -webkit-appearance: none;
    border-radius: 0;
}

/* フッターの共通設定 */
.footer {
    margin: 30px 0px;
    font-size: 0.7rem;
}
.copyright {
    margin-bottom: 5px;
}