
.parking_top_img {
    width: 70%;
    margin:0 auto;
    margin-bottom: 20px;
    display: block;
}


.txt_wrapper {
    margin:0 auto;
    width:90%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #666;
}

.main_txt {
    margin-bottom: 20px;
    font-size: 0.9rem;
    font-weight: bold;
}


/* パーキング情報リスト */
.parking_wrapper {
    margin:0 auto;
    margin-bottom: 30px;
    border-bottom: solid 1px #666;
    padding-bottom: 30px;
    width:90%;
}
.flex {
    display: flex;
}

.parking_img {
    width:45%;
}
.txt-wrapper {
    width:70%;
    font-size: 0.9rem;
    display: block;
    margin:0 auto;
    margin: 15px 20px;
}

.txt-wrapper li {
    margin-bottom: 10px;
}
.price {
    font-size: 1.1rem;
    margin-top: 20px;
}
.btn {
    display: block;
    margin:0 auto;
    margin-top: 30px;
    width:100px;
    height: 40px;
    border:solid 0.2rem #FBB03B;
    border-radius:20px;
    font-weight: bold;
    background: #FBB03B;
    color: white;
    transition: background-color 0.3s;
}
.btn:hover {
    color: #FBB03B;
    background: white;
    
}


@media screen and (min-width:480px){
    p{
        color: red;
    }
}

